@tailwind base;
@tailwind components;
@tailwind utilities;

p, span, label, a {
  font-size: 20px;
}

strong {
  color: #3DDC84;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

.puesto::after {
  top: 20%;
  left: 25%;
  border-radius: 100%;
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #3DDC84;
}