@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

p, span, label, a {
  font-size: 16px;
}

strong {
  color: #3DDC84;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

.puesto::after {
  top: 25%;
  left: 25%;
  border-radius: 100%;
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #1e293b ;
  border: 2px solid #3DDC84;
}

.puesto-actual::after {
  top: 25%;
  left: 25%;
  border-radius: 100%;
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #3DDC84;
}

.lineTime {
  top: 112px;
  width: 100vw;
  height: 8px;
  position: absolute;
  background-color: #2D4960;
}

.linkProyect {
  font-size: 32px;
}

.linkProyect::after {
  bottom: 0;
  display: block;
  position: absolute;
  content: '';
  height: 3px;
  width: 0px;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.linkProyect > svg {
  transition: 0.2s ease-in-out;
}

.linkProyect:hover::after {
  width: 100%;
}

.linkProyect:hover > svg {
  transform: translateY(-3px);
}

.link::after {
  bottom: 0;
  display: block;
  position: absolute;
  content: '';
  height: 1px;
  width: 0px;
  background-color: white;
  transition: 150ms ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  display: inline;
  z-index: 1;
  opacity: 0; /* Comienza con opacidad 0 */
  transition: all 0.2s; /* Transición suave para la aparición del tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 50px rgb(19, 25, 29) inset !important; /* Cambia el fondo a blanco */
  -webkit-text-fill-color: rgb(255, 255, 255) !important; /* Cambia el color del texto */
  -webkit-border-radius: 0 0 0 0;
}